{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<!-- Page style -->
<link rel="stylesheet" href="static/css/login_user.css">

{% endblock %}



<!-- Body -->
{% block body %}



<section id="login">
    <div class="left">
        <div>
            <h1><i class="fa-solid fa-right-to-bracket" style="font-size: 30px;"></i><br><br>Hello Friend !</h1>
            <p style="text-align: justify;">We hope you find what you're looking for and that you enjoy your stay.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, fuga. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Impedit non nemo necessitatibus cupiditate nisi reprehenderit, suscipit
                labore? Nam, obcaecati iste.</p>
            <p>Take your time!</p>
        </div>
    </div>

    <div class="right">
        <div class="rightdiv">
            <h1>ADMIN/AGENT LOGIN</h1>
            <form action="#" onsubmit="return validate()">
                <div>
                    <input type="email" id="login_admin_email" placeholder="Enter Email">
                </div>
                <div>
                    <input type="password" id="login_admin_password" placeholder="Enter Password">
                </div>
                <div class="check_box">
                    <input type="checkbox" onclick="show_pass()"
                        style="width: 20px; height: 20px; margin-bottom: 20px;">
                    <p>Show Password </p>
                    <a href="#">Forget Password?</a>
                </div>
                <div>
                    <button id="login_submit_button"><i class="fa-solid fa-right-to-bracket"></i> LOGIN</button>
                </div>

                <div>
                    <h4 style="text-align: center;">Don't have an account? <a href="/signupadmin">Create Now</a> </h4>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}